#battle-page {
  height: 100%;

  #battle-view {
    height: 100%;
    #player-cell {
      flex: 0 0 350px;
      -webkit-flex: 0 0 350px;
      -moz-flex: 0 0 350px;
      text-align: left;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      .players-list {
        &__player {
          border-top: 1px solid #ccc;
          padding: 6px 0;
          &:last-child {
            border-bottom: 1px solid #ccc;
          }
          &__tank {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;
            img {
              position: absolute;
              &:first-child {
                width: 100%;
                top: 0;
              }
              &:last-child {
                top: 10px;
                width: 150%;
                left: -26%;
              }
            }
          }
          .error {
            color: #a00000;
            font-style: italic;
          }
        }
      }
      .cmp-buttons {
        padding: 6px 0;
      }
    }
    #arena {
      margin: 0 auto;
    }
  }

  .tiles-row {
    margin-top: calc(50vh - 100px);
    justify-content: center;
    -webkit-justify-content: center;
    .choice-tile {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 8px;
      padding: 20px;
      flex: 0 0 300px;
      -webkit-flex: 0 0 300px;
      transition: 0.5s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  #cmp-chooser {
    position: fixed;
    z-index: 10;
    top: 20px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
  }

  #script-container {
    height: calc(100% - 140px);
    textarea {
      width: 100%;
      height: 100%;
      font-family: monospace;
    }
  }

  #chat-window {
    height: 200px;
    overflow-y: scroll;
    padding: 15px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: monospace;
    font-size: 12px;
    color: #888;
    .chat-message {
      padding: 3px 0;
    }
  }

  .documentation {
    height: 3em;
    padding: 1em;
    background-color: rgba(#896D50, 0.7);
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  table.results-table {
    width: 100%;
    .results-table__rank {
      font-size: 2em;
    }
    tr {
      td {
        border-top: 1px solid #ccc;
      }
    }
  }
}
