.dialog-box {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: #000;
  transition: 500ms;

  &.fade {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 0.85;
    }
    &-enter-done {
      opacity: 0.85;
    }
    &-exit {
      opacity: 0.85;
    }
    &-exit-active {
      opacity: 0;
    }
    &-exit-done {
      opacity: 0;
    }
  }
}
