input,
textarea {
  font-family: 'Rajdhani', sans-serif;
}

input[type=button],
button,
a.button {
  background-color: #34452e;
  padding: 6px 12px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #3e4f37;
  }

  &.sm {
    font-size: 14px;
    padding: 3px 8px;
  }

  &.cancel {
    background-color: #eaeaea;
    color: #888;
  }
}

input[type=text],
input[type=number],
input[type=email],
textarea {
  padding: 3px 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  border-radius: 3px;
  outline: none;
}
